* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.flexbox {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row wrap;  комбинация*/
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content:
    /* height: 100hv; */
    align-items: center;
    gap: 20px; 
}

.box {
    width: 200px;
    height: 200px;
}

.box1 {
    background-color: red;
    order: 3;
    align-self: flex-start;
}

.box2{
    background-color: blue;
    align-self: center;
}

.box3 {
    background-color: green;
    align-self: flex-end;
}